<!--<div class="row">
        <div class="small-10 column">
            <h1 class="white">Steven Molen</h1>
            <h4 class="white">Sr. Enterprise Architect</h4>
        </div>
        <div class="column medium-4 animated fadeInUp"
            style="-webkit-animation-duration:{{$index * 300}}ms" 
            ng-repeat="u in users">
            
            <div class="panel text-center">
                <img class="circle" ng-src="{{u.picture.medium}}">
                <h3 class="ellipsis">{{vm.username}}</h3>
                <hr>
                <div class="medium-12 sm-centered lg-centered column">
                    <ul class="small-block-grid-4 text-center">
                        <li><a href=""><i class="fa fa-pinterest fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
                    </ul>
                </div>
                <hr>
                <a href="#" data-dropdown="drop{{u.username}}" aria-controls="drop{{u.username}}" class="ellipsis">{{u.location.city}}, {{u.location.state}}</a>
            </div>
        </div>
    </div>-->
<div>
    <spinner name="github" register="true" image-src="content/animated_spinner.gif" on-loaded="vm.spinnerLoaded(spinnerApi);"></spinner>
</div>

<div class="panel panel-default bootcards-media">
    <div class="panel-heading">
        <h4>{{vm.user.name}}</h4>
    </div>
    <div class="row panel-body">
        <div class="col-xs-6 body-card">
            <div class="row">
                <label class="col-xs-3 control-label">Alias</label>
                <div class="col-xs-9">{{vm.user.login}}</div>
            </div>
            <div class="row">
                <label class="col-xs-3 control-label">url</label>
                <div class="col-xs-9"><a href="{{vm.user.url}}">Github Repos</a></div>
            </div>
        </div>
        <div class="col-xs-6 pull-right">
            <img ng-src="{{vm.user.avatar_url}}" />
        </div>
    </div>
    <div class="panel-footer">
        <div class="row center-block">
            <div class="col-xs-4">
                <a ng-href="{{vm.preferences.twitter}}">
                    <i class="fab fa-twitter pull-left fa-3x"></i>
                </a>
            </div>
            <div class="col-xs-4">
                <center>
                    <a ng-href="{{vm.preferences.twitch}}">
                        <i class="fab fa-twitch center-block fa-3x"></i>
                    </a>
                </center>
            </div>
            <div class="col-xs-4">
                <a ng-href="{{vm.preferences.wishlist}}"><i class="fas fa-chess pull-right fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary" ng-click="vm.toggleCode(this)">{{vm.codeButtonText}}</button>
<div ng-show="vm.showJSON">
    <div>{{ vm.userName }} JSON:</div>
    <pre ng-bind-html="vm.user | prettify"></pre>
</div>